.description {
  flex: 1 1 var(--large-3x);
}

.headshot {
  flex: 1 1 10%;

  max-width: var(--large-4x);
  min-width: var(--large-2x);

  align-self: flex-start;
}

.about {
  gap: var(--medium);
}

.social {
  --social-width: clamp(10px, 8vw, 32px);

  width: var(--social-width);
  height: var(--social-width);

  margin-right: var(--small);
  margin-top: var(--small);
}

.social:hover {
  fill: var(--color-accent);
  filter: drop-shadow(var(--link-shadow));
}

.introduction {
  font-size: clamp(1.7rem, 5.5vw, 6rem);
  margin: 0;
}

.subintroduction {
  font-size: clamp(0.95rem, 2.5vw, 4rem);
  margin: 0;
}
