:root {
  --color-bg-dark: hsl(217, 32%, 11%);
  --color-bg-surface: hsl(217, 33%, 17%);
  --color-secondary: hsl(217, 33%, 73%);
  --color-accent: hsl(192, 90%, 67%);
  --color-text: hsl(0, 0%, 100%);

  --link-shadow: 0.5px 0.5px 1px var(--color-accent);
  --secondary-box-shadow: 0 0 var(--tiny-space) var(--color-secondary);

  --font-family-main: Arial, sans-serif;
  --card-font-size: clamp(5px, 2.1vw, 14.7px);
  --regular-font-size: clamp(1rem, 1.2vw, 1.2rem);
  --small-font-size: clamp(0.8rem, 1vw, 1rem);
  --tiny-font-size: clamp(0.6rem, 0.72vw, 0.72rem);

  --content-width: 80%;

  --large-space: 40px;
  --medium-space: 20px;
  --small-space: 10px;
  --tiny-space: 5px;
}

* {
  box-sizing: border-box;
  color: var(--color-text);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  font-family: var(--font-family-main);
  font-size: var(--regular-font-size);
  background-color: var(--color-bg-dark);
}

h1,
h2,
h3,
h4,
h5 {
  margin: var(--small-space) 0 0 0;
  width: 100%;
}

:is(h1, h2, h3, h4, h5) a:not(:hover) {
  color: var(--color-text);
}

p {
  margin: var(--small-space) 0;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: var(--content-width);
  margin: 0 auto;
  padding-top: var(--large-space);
}

.articledate {
  font-size: var(--small-font-size);
  font-style: italic;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: var(--medium-space);
  align-items: center;
}

.imagewordcontainer {
  flex: 1 1 300px;
  margin-right: var(--small-space);
}

.imagecaptioncontainer {
  margin: 0 auto;
  width: clamp(250px, 40%, 400px);
  font-size: var(--tiny-font-size);
  font-style: italic;
  text-align: center;
}

.imageAttribution {
  font-size: var(--tiny-font-size);
  font-style: italic;
  margin-top: var(--large-space);
}

img {
  border-radius: 10%;
}

object {
  flex: 1;
  border: none;
}

iframe {
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  max-width: 500px;
}

a {
  color: var(--color-accent);
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
  text-shadow: var(--link-shadow);
}

.katex {
  font-family: var(--font-family-main) !important;
  font-size: var(--regular-font-size) !important;
}
