:root {
  --color-bg-dark: hsl(217, 32%, 11%);
  --color-bg-surface: hsl(217, 33%, 17%);
  --color-secondary: hsl(217, 33%, 73%);
  --color-accent: hsl(192, 90%, 67%);
  --color-text: hsl(0, 0%, 100%);

  --link-shadow: 0.5px 0.5px 1px var(--color-accent);
  --secondary-box-shadow: 0 0 var(--tiny) var(--color-secondary);

  --font-family-main: Arial, sans-serif;
  --card-font-size: clamp(5px, 2.1vw, 18px);
  --regular-font-size: clamp(1rem, 1.2vw, 1.2rem);
  --small-font-size: clamp(0.8rem, 1vw, 1rem);
  --tiny-font-size: clamp(0.6rem, 0.72vw, 0.72rem);

  --content-width: 80%;

  --large-4x: 640px;
  --large-3x: 320px;
  --large-2x: 160px;
  --large-x: 80px;
  --large: 40px;
  --medium: 20px;
  --small: 10px;
  --tiny: 5px;
}

* {
  box-sizing: border-box;
  color: var(--color-text);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  font-family: var(--font-family-main);
  font-size: var(--regular-font-size);
  background-color: var(--color-bg-dark);
}

h1,
h2,
h3,
h4,
h5 {
  margin: var(--small) 0 0 0;
  width: 100%;
}

:is(h1, h2, h3, h4, h5) a:not(:hover) {
  color: var(--color-text);
}

p,
ol,
ul {
  margin: var(--small) 0;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: var(--content-width);
  margin: 0 auto;
  padding-top: var(--large);
}

.articledate {
  font-size: var(--small-font-size);
  font-style: italic;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: var(--medium);
  align-items: center;
}

.graphic {
  margin: var(--medium) auto;
  width: 100%;
  max-width: min(var(--large-4x), 100%);
  font-size: var(--small-font-size);
  font-style: italic;
  text-align: center;
}

.graphic > img {
  width: 100%;
}

.responsive-float {
  margin-bottom: var(--medium);
  width: 100%;
}

@media (min-width: 950px) {
  .responsive-float {
    float: right;
    margin-left: var(--large);
    max-width: var(--large-4x);
    width: 50%;
  }
}

.attribution {
  font-size: var(--tiny-font-size);
  font-style: italic;
  margin-top: var(--large);
}

img {
  border-radius: 10%;
}

object {
  flex: 1;
  border: none;
}

iframe {
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  max-width: var(--large-4x);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
  text-shadow: var(--link-shadow);
}

.katex {
  font-family: var(--font-family-main) !important;
  font-size: var(--regular-font-size) !important;
}
