.cards {
  display: flex;
  flex-direction: column;
  gap: var(--medium-space);
  margin-top: var(--medium-space);
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--medium-space) var(--medium-space);

  background: var(--color-bg-surface);
  border-left: var(--tiny-space) solid var(--color-accent);

  transition:
    transform 0.1s,
    border-color 0.1s,
    box-shadow 0.1s;
}

.card:hover {
  transform: translateX(var(--tiny-space));
  text-shadow: none;
  box-shadow: var(--secondary-box-shadow);
}

.card:hover .title {
  color: var(--color-accent);
  text-shadow: var(--link-shadow);
}

.clampLines {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  composes: clampLines;

  font-size: var(--card-font-size);
  margin-bottom: var(--small-space);
}

.description {
  composes: clampLines;

  font-size: var(--card-font-size);
  color: var(--color-secondary);
  margin-bottom: 0;
}

.library {
  width: 650px;
  max-width: var(--content-width);
}
